.sidebar{
    flex: 1;
    height: calc(100vh - 50px);
    position: sticky;
    top: 50px;
}

.sidebarWrapper{
    padding: 20px;
    color: #112D4E;
}

.sidebarMenu{
    margin-bottom: 10px;
}

.sidebarTitle{
    font-size: 13px;
    color: rgb(163, 163, 163);
}

.sidebarList{
    list-style-type: none;
    padding: 5px;
}

.sidebarListItem{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.sidebarListItem.active, .sidebarListItem:hover{
    background-color: #DBE2EF;
}

.sidebarIcon{
    margin-right: 5px;
    font-size: 20px !important;
}